# RewriteEngine On

# # Si el archivo o directorio existe, permite el acceso directamente
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# # De lo contrario, redirige todas las solicitudes a index.php
# RewriteRule ^ index.php [L]

# <IfModule mod_rewrite.c>
#     RewriteEngine On
#     RewriteBase /public/
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule ^(.*)$ index.php [QSA,L]
# </IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
</IfModule>




